.box {
	/*
      Use the purple-tinted shadow
      on the outer box:
    */
	box-shadow: var(--shadow-elevation-medium);
}

.inner-box {
	/*
      This box should have a
      different shadow color! So we
      provide a new --shadow-color, and
      reset --shadow-elevation-medium
    */
	--shadow-color: 195deg 56% 3%;
	--shadow-elevation-medium: 2px 4px 8px hsl(var(--shadow-color) / 0.5);

	box-shadow: var(--shadow-elevation-medium);
}
