{% extends "layouts/base.njk" %} 

{% block content %}
    <article class="flow">
		<div class="wrapper">
			<h1>Sobre nós</h1>
		</div>
		
		<article class="">
			<div class="wrapper">
			<h2>Venha se reunir conosco</h2>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15356.635422104557!2d-47.9155648!3d-15.7955756!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3a563335b2b1%3A0xeae7ebe2541cf77d!2sIgreja%20Betesda%20de%20Bras%C3%ADlia!5e0!3m2!1spt-BR!2sbr!4v1680483215618!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</article>
    </article>
{% endblock %}
