{% extends "layouts/base.njk" %}
 
{% block content %}
<article class="section spot-color-primary">
	<div class="section__inner home-section__banner">
		<div class="wrapper flow">
			<h1 class="not-italic no-hash">
				<span class="uppercase">{{ mainText }}</span>{{ subText }}
			</h1>
			<p>
				{{description}}
			</p>
		</div>
	</div>
	{% include 'curve.svg' %}
</article>
<article class="region">
	<div class="wrapper flow">
		<h2 >Posts mais recentes</h2>
		<article class="flow font-serif">
			<h3 ><a href="#"> Post title</a></h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, vero quod architecto repudiandae numquam veritatis dolore soluta nemo, odio laboriosam quis eos, aliquam sit pariatur? Labore sit possimus fuga repellendus?</p>
		</article>
		<a class="cta font-serif font-bold" href="/blog">Ver mais posts</a>
	</div>
	{% include 'curve.svg' %}
</article>

<article class="section flow-space-xl spot-color-secondary">
	{% include 'curve.svg' %}
	<div class="section__inner">
		<div class="wrapper flow">
			<h2>Episódios mais recentes</h2>
			<div class=" flow">
				{% for episode in episodes.latestEpisodes %}
					<article 
					  class="[ podcast-episode ] [ flow flow-space-2xl-3xl font-serif ]">
						<h3> 
							<a href="{{episode.link}}">
								{{episode.title}}
							</a>
						</h3>
						<p class="time spot-color-light">Publicado em <time>{{episode.publicationDate}}</time> </p>
						
						<div class="player flow-space-m">
							{%- if  episode.coverImage -%}
								<img src="{{episode.coverImage}}" alt="" width="50" height="50">
							{%- endif -%}

							<audio  controls="controls">
								<source src="{{episode.audioInfo.url}}" type="{{episode.audioInfo.type}}" />
								O seu navegador não suporta o elemento <code>audio</code>.
							</audio>
						</div>
						{%- if episode.description.lenght > 0 -%}
							<div>
								{{episode.description | safe}}
							</div>
						{%- endif -%}
					</article>
				{% endfor %}
			</div>
			<a class="cta font-serif font-bold" href="/podcast">Ver todos os podcasts</a>
		</div>
	</div>
	{% include 'curve.svg' %}
</article>

{% endblock %}
