.card {
	background-color: var(--color-dark);
	padding: var(--space-m);
}

.card h2 {
	font-size: var(--size-step-3);
}

.card h3 {
	font-size: var(--size-step-2);
}

.card[data-variation='secondary'] {
	background-color: var(--color-secondary);
	color: var(--color-dark-shade);
}

.card[data-variation='secondary'] ::selection {
	background: var(--color-dark);
	color: var(--color-light);
}
