.home-section {
	display: grid;
}

.main-text {
	font-size: var(--size-step-3);
	padding-inline: var(--space-s-m);
	padding-block: var(--space-xl);
}

.main-text span {
	display: block;
	font-size: var(--size-step-5);
}

@media (min-width: 40em) {
	.home-section {
		grid-template-columns: 1fr 25ch;
	}
}
