@font-face {
	font-family: 'Peugeot';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/peugeot-v2-400.woff2') format('woff2');
}

@font-face {
	font-family: 'Peugeot';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/peugeot-v2-500.woff2') format('woff2');
}

@font-face {
	font-family: 'Peugeot';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/peugeot-v2-700.woff2') format('woff2');
}
