
{% for episode in episodes %}
	<article class="[ podcast-episode ] [ flow flow-space-2xl-3xl font-serif ]" >
		<h2 > 
			<a href="{{episode.link}}">
				{{episode.title}}
			</a>
		</h2>
		<time>{{episode.publicationDate}}</time>
		<div class="player flow-space-m">
			{%- if  episode.coverImage -%}
				<img src="{{episode.coverImage}}" alt="" width="50" height="50">
			{%- endif -%}

			<audio  controls="controls">
				<source src="{{episode.audioInfo.url}}" type="{{episode.audioInfo.type}}" />
				O seu navegador não suporta o elemento <code>audio</code>.
			</audio>
		</div>
		{%- if episode.description.lenght > 0 -%}
		<div >
			{{episode.description | safe}}
		</div>
		{%- endif -%}
	</article>
{% endfor %}
